/TSAGameProject/Logs
/TSAGameProject/Temp
/TSAGameProject/Library
/TSAGameProject/Logs
TSAGameProject/UserSettings/Layouts/default-2022.dwlt
TSAGameProject/UserSettings/Search.settings
TSAGameProject/UserSettings/Layouts/default-2022.dwlt
TSAGameProject/Logs/shadercompiler-AssetImportWorker0.log
TSAGameProject/Logs/AssetImportWorker1.log
TSAGameProject/Logs/AssetImportWorker1-prev.log
TSAGameProject/Logs/AssetImportWorker0.log
TSAGameProject/Logs/AssetImportWorker0-prev.log
TSAGameProject/.vs/TSAGameProject/v17/.suo
TSAGameProject/.vs/TSAGameProject/FileContentIndex/ffddc354-f21d-4fad-bdb0-4103989dceea.vsidx
TSAGameProject/.vs/TSAGameProject/FileContentIndex/d6cb4ea4-f8fa-4d9e-afc1-9a95f16d4d6d.vsidx
TSAGameProject/.vs/TSAGameProject/FileContentIndex/9ef99ae3-3a36-4f19-8496-710070693351.vsidx
TSAGameProject/.vs/TSAGameProject/FileContentIndex/88aa33e9-203c-4dd5-b8a0-31859e5b8dce.vsidx
TSAGameProject/.vs/TSAGameProject/FileContentIndex/6d85c499-3e50-4c29-9f9c-734910e0b15e.vsidx
TSAGameProject/.vs/TSAGameProject/FileContentIndex/6c58db24-1b23-4d36-9efc-c3d0add1522f.vsidx
TSAGameProject/.vs/TSAGameProject/FileContentIndex/1804807c-407d-4e1a-9e5e-0431828b250c.vsidx
TSAGameProject/.vs/TSAGameProject/FileContentIndex/14fe9e24-0b02-452d-b927-6f2dd7ed5aa9.vsidx
TSAGameProject/.vs/TSAGameProject/FileContentIndex/1220aa7e-862d-47eb-9006-3a4aa3dc4637.vsidx
TSAGameProject/.vs/TSAGameProject/FileContentIndex/00b02dc7-43d7-4717-84a5-bc56f1af7732.vsidx
TSAGameProject/.vs/Assembly-CSharp.csproj.dtbcache.json
